[build]
  publish = "out"
  command = "NODE_ENV=production npm run build:static"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/api/*"
  to = "https://us-central1-gravyty-labs.cloudfunctions.net/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200




